*

!go.mod
!go.sum
!*.go

!builtin/
!builtin/**
!cmd/
!cmd/**
!internal/
!internal/**
!junit/
!junit/**
!observe/
!observe/**
!plugin/
!plugin/**
!report/
!report/**
!spec/
!spec/**
!state/
!state/**
!thtr/
!thtr/**
!yaml/
!yaml/**
